* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
    
}
.logo {
    max-width: 5rem;
}
body {
    background-image:url("/assets/img/desktop-wallpaper-black-website-backgrounds-black-website-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*MENU HAMBURGUESA*/
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}
.abrir-menu,
.cerrar-menu {
    display: none;
}
@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu{
        color: #1c1c1c;
    }
    .cerrar-menu{
        color: #ececec;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a {
        color: #ececec;
    }
}
/*TARJETAS*/
.cardContainer {
    padding: auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.card {
    color: rgb(196, 196, 223);
    width: 200px;
    height: 450px;
    border-radius: .5rem;
    background-color: rgb(89, 107, 107);
    box-shadow: 0px 0px 10px gray,
                0px 0px 10px gray inset;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 1rem;
    transition: all 0.25s;
}
.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.card img{
    max-width: 100%;
    height: auto;
    object-fit:cover;    

}

/*FOOTER*/
.contact {
    display: flex;
    gap: 0.5rem ;
}
.contact i {
    color: blue;
}
